<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="darkreader-lock">

    <link rel="stylesheet" type="text/css" href="/static/layout.css" />

    <title>
        {{ if eq .Section "pages" }}
            p{{ range $i, $b := .Breadcrumbs }}/{{ $b.Name }}{{ end }}{{ if .Name }}/{{ .Name }}{{ end }}
            | cache.fyi
        {{ else if eq .Section "content" }}
            c | cache.fyi
        {{ else }}
            h | cache.fyi
        {{ end }}
    </title>
</head>
<body>
<header class="wrapper">
<div class="wrapper">
    <div class="error">
        <h1 onclick="document.getElementById('login-form').submit()">{{ .StatusCode }} ERROR: {{ .Message }}</h1>
        {{ if eq .StatusCode 403 }}
            <form action="/login" method="POST" id="login-form">
                <input type="password" name="authHeader" placeholder="" />
                <input type="hidden" name="path" value="{{ .RequestPath }}" />
            </form>
        {{ end }}
        {{ if and (eq .StatusCode 500) .Error }}
            <code>{{ .Error }}</code>
        {{ end }}
    </div>
</div>
</body>
</html>
